body{
	

}

#page-wrapper{
	width: 1200px;
	height: 700px;

	background:url(images/library.jpg) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	margin: auto;
    position: absolute;
    top: 0; 
    left: 0;
    bottom: 0; 
    right: 0;
}

#form-wrapper{

	width: 400px;
	height: 200px;
	
	margin: auto;
    position: absolute;
    top: 0; 
    left: 0;
    bottom: 0; 
    right: 0;

}

.login-fields{

	height: 25px;
	border:solid 1px black;
	opacity: 0.8;
	display: block;
	color: black;
	border-radius: 5px;

}

.login-fields:hover{

	background-color: #F9C68D	

}

.login-fields:focus{

	background-color: #F9C68D	

}

.lable-text{

	color: #F9C68D;

}
#submit{

	float: right;
	opacity: 0.8;

}




#form-wrapper a{
	background: white;
	opacity: 0.8;
	color: #449163;
	border:solid 1px;
	border-radius:2px; 
}